<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E7667531C38C9FD000DB88E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E7667671C38C9FE000DB88E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E7667721C38C9FE000DB88E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
